## 1. Đọc file application_train.csv

In [123]:
import os
import pandas as pd
import numpy as np

file_dir = '../../../../dataset/credit_scoring/application_train.csv'

# Kiểm tra xem file có tồn tại không trước khi đọc
if os.path.exists(file_dir):
    df = pd.read_csv(file_dir)
    print("Đọc file thành công!")
else:
    print(f"Không tìm thấy file tại: {os.path.abspath(file_dir)}")

Đọc file thành công!

## 2. Khám phá nội dung file application_train.csv

**XEM THÔNG TIN FILE VÀ CÁC TRƯỜNG DỮ LIỆU**

In [124]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 122 columns):
 #    Column                        Non-Null Count   Dtype
---   ------                        --------------   -----
 0    SK_ID_CURR                    307511 non-null  int64
 1    TARGET                        307511 non-null  int64
 2    NAME_CONTRACT_TYPE            307511 non-null  object
 3    CODE_GENDER                   307511 non-null  object
 4    FLAG_OWN_CAR                  307511 non-null  object
 5    FLAG_OWN_REALTY               307511 non-null  object
 6    CNT_CHILDREN                  307511 non-null  int64
 7    AMT_INCOME_TOTAL              307511 non-null  float64
 8    AMT_CREDIT                    307511 non-null  float64
 9    AMT_ANNUITY                   307499 non-null  float64
 10   AMT_GOODS_PRICE               307233 non-null  float64
 11   NAME_TYPE_SUITE               306219 non-null  object
 12   NAME_INCOME_TYPE              307511 non-null  object
 13   NAME_EDUCATION_TYPE           307511 non-null  object
 14   NAME_FAMILY_STATUS            307511 non-null  object
 15   NAME_HOUSING_TYPE             307511 non-null  object
 16   REGION_POPULATION_RELATIVE    307511 non-null  float64
 17   DAYS_BIRTH                    307511 non-null  int64
 18   DAYS_EMPLOYED                 307511 non-null  int64
 19   DAYS_REGISTRATION             307511 non-null  float64
 20   DAYS_ID_PUBLISH               307511 non-null  int64
 21   OWN_CAR_AGE                   104582 non-null  float64
 22   FLAG_MOBIL                    307511 non-null  int64
 23   FLAG_EMP_PHONE                307511 non-null  int64
 24   FLAG_WORK_PHONE               307511 non-null  int64
 25   FLAG_CONT_MOBILE              307511 non-null  int64
 26   FLAG_PHONE                    307511 non-null  int64
 27   FLAG_EMAIL                    307511 non-null  int64
 28   OCCUPATION_TYPE               211120 non-null  object
 29   CNT_FAM_MEMBERS               307509 non-null  float64
 30   REGION_RATING_CLIENT          307511 non-null  int64
 31   REGION_RATING_CLIENT_W_CITY   307511 non-null  int64
 32   WEEKDAY_APPR_PROCESS_START    307511 non-null  object
 33   HOUR_APPR_PROCESS_START       307511 non-null  int64
 34   REG_REGION_NOT_LIVE_REGION    307511 non-null  int64
 35   REG_REGION_NOT_WORK_REGION    307511 non-null  int64
 36   LIVE_REGION_NOT_WORK_REGION   307511 non-null  int64
 37   REG_CITY_NOT_LIVE_CITY        307511 non-null  int64
 38   REG_CITY_NOT_WORK_CITY        307511 non-null  int64
 39   LIVE_CITY_NOT_WORK_CITY       307511 non-null  int64
 40   ORGANIZATION_TYPE             307511 non-null  object
 41   EXT_SOURCE_1                  134133 non-null  float64
 42   EXT_SOURCE_2                  306851 non-null  float64
 43   EXT_SOURCE_3                  246546 non-null  float64
 44   APARTMENTS_AVG                151450 non-null  float64
 45   BASEMENTAREA_AVG              127568 non-null  float64
 46   YEARS_BEGINEXPLUATATION_AVG   157504 non-null  float64
 47   YEARS_BUILD_AVG               103023 non-null  float64
 48   COMMONAREA_AVG                92646 non-null   float64
 49   ELEVATORS_AVG                 143620 non-null  float64
 50   ENTRANCES_AVG                 152683 non-null  float64
 51   FLOORSMAX_AVG                 154491 non-null  float64
 52   FLOORSMIN_AVG                 98869 non-null   float64
 53   LANDAREA_AVG                  124921 non-null  float64
 54   LIVINGAPARTMENTS_AVG          97312 non-null   float64
 55   LIVINGAREA_AVG                153161 non-null  float64
 56   NONLIVINGAPARTMENTS_AVG       93997 non-null   float64
 57   NONLIVINGAREA_AVG             137829 non-null  float64
 58   APARTMENTS_MODE               151450 non-null  float64
 59   BASEMENTAREA_MODE             127568 non-null  float64
 60   YEARS_BEGINEXPLUATATION_MODE  157504 non-null  float64
 61   YEARS_BUILD_MODE              103023 non-null  float64
 62   COMMONAREA_MODE               92646 non-null   float64
 63   ELEVATORS_MODE                143620 non-null  float64
 64   ENTRANCES_MODE                152683 non-null  float64
 65   FLOORSMAX_MODE                154491 non-null  float64
 66   FLOORSMIN_MODE                98869 non-null   float64
 67   LANDAREA_MODE                 124921 non-null  float64
 68   LIVINGAPARTMENTS_MODE         97312 non-null   float64
 69   LIVINGAREA_MODE               153161 non-null  float64
 70   NONLIVINGAPARTMENTS_MODE      93997 non-null   float64
 71   NONLIVINGAREA_MODE            137829 non-null  float64
 72   APARTMENTS_MEDI               151450 non-null  float64
 73   BASEMENTAREA_MEDI             127568 non-null  float64
 74   YEARS_BEGINEXPLUATATION_MEDI  157504 non-null  float64
 75   YEARS_BUILD_MEDI              103023 non-null  float64
 76   COMMONAREA_MEDI               92646 non-null   float64
 77   ELEVATORS_MEDI                143620 non-null  float64
 78   ENTRANCES_MEDI                152683 non-null  float64
 79   FLOORSMAX_MEDI                154491 non-null  float64
 80   FLOORSMIN_MEDI                98869 non-null   float64
 81   LANDAREA_MEDI                 124921 non-null  float64
 82   LIVINGAPARTMENTS_MEDI         97312 non-null   float64
 83   LIVINGAREA_MEDI               153161 non-null  float64
 84   NONLIVINGAPARTMENTS_MEDI      93997 non-null   float64
 85   NONLIVINGAREA_MEDI            137829 non-null  float64
 86   FONDKAPREMONT_MODE            97216 non-null   object
 87   HOUSETYPE_MODE                153214 non-null  object
 88   TOTALAREA_MODE                159080 non-null  float64
 89   WALLSMATERIAL_MODE            151170 non-null  object
 90   EMERGENCYSTATE_MODE           161756 non-null  object
 91   OBS_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 92   DEF_30_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 93   OBS_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 94   DEF_60_CNT_SOCIAL_CIRCLE      306490 non-null  float64
 95   DAYS_LAST_PHONE_CHANGE        307510 non-null  float64
 96   FLAG_DOCUMENT_2               307511 non-null  int64
 97   FLAG_DOCUMENT_3               307511 non-null  int64
 98   FLAG_DOCUMENT_4               307511 non-null  int64
 99   FLAG_DOCUMENT_5               307511 non-null  int64
 100  FLAG_DOCUMENT_6               307511 non-null  int64
 101  FLAG_DOCUMENT_7               307511 non-null  int64
 102  FLAG_DOCUMENT_8               307511 non-null  int64
 103  FLAG_DOCUMENT_9               307511 non-null  int64
 104  FLAG_DOCUMENT_10              307511 non-null  int64
 105  FLAG_DOCUMENT_11              307511 non-null  int64
 106  FLAG_DOCUMENT_12              307511 non-null  int64
 107  FLAG_DOCUMENT_13              307511 non-null  int64
 108  FLAG_DOCUMENT_14              307511 non-null  int64
 109  FLAG_DOCUMENT_15              307511 non-null  int64
 110  FLAG_DOCUMENT_16              307511 non-null  int64
 111  FLAG_DOCUMENT_17              307511 non-null  int64
 112  FLAG_DOCUMENT_18              307511 non-null  int64
 113  FLAG_DOCUMENT_19              307511 non-null  int64
 114  FLAG_DOCUMENT_20              307511 non-null  int64
 115  FLAG_DOCUMENT_21              307511 non-null  int64
 116  AMT_REQ_CREDIT_BUREAU_HOUR    265992 non-null  float64
 117  AMT_REQ_CREDIT_BUREAU_DAY     265992 non-null  float64
 118  AMT_REQ_CREDIT_BUREAU_WEEK    265992 non-null  float64
 119  AMT_REQ_CREDIT_BUREAU_MON     265992 non-null  float64
 120  AMT_REQ_CREDIT_BUREAU_QRT     265992 non-null  float64
 121  AMT_REQ_CREDIT_BUREAU_YEAR    265992 non-null  float64
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

**Thông tin về 122 trường dữ liệu**

* 1/ `SK_ID_CURR`: Mã định danh duy nhất của hồ sơ vay

* 2/ `TARGET`: Biến nhãn (label) cho biết khách hàng có rủi ro tín dụng hay không sau khi khoản vay được giải ngân
    * Nhãn `1`: Khách hàng đã gặp khó khăn trong việc trả nợ
    * Nhãn `0`: Khách hàng trả nợ bình thường, không có dấu hiệu rủi ro sớm

* 3/ `NAME_CONTRACT_TYPE`: Loại hình tín dụng mà khách hàng đăng ký

* 4/ `CODE_GENDER`: Giới tính khách hàng

* 5/ `FLAG_OWN_CAR`: Cho biết khách hàng có sở hữu ô tô hay không

* 6/ `FLAG_OWN_REALTY`: Cho biết khách hàng có sở hữu bất động sản để ở (nhà hoặc căn hộ) hay không

* 7/ `CNT_CHILDREN`: Số lượng con cái khách hàng đang nuôi dưỡng

* 8/ `AMT_INCOME_TOTAL`: Tổng thu nhập khai báo của khách hàng

* 9/ `AMT_CREDIT`: Số tiền mà khách hàng được cấp vay trong hợp đồng tín dụng

* 10/ `AMT_ANNUITY`: Số tiền khách hàng phải trả định kỳ cho khoản vay

* 11/ `AMT_GOODS_PRICE`: Giá trị của món hàng / dịch vụ mà khách hàng vay tiền để mua

* 12/ `NAME_TYPE_SUITE`: Người đi nộp hồ sơ vay cùng khách hàng

* 13/ `NAME_INCOME_TYPE`: Hình thức tạo ra thu nhập / nguồn thu nhập chính của khách hàng

* 14/ `NAME_EDUCATION_TYPE`: Trình độ học vấn cao nhất của khách hàng

* 15/ `NAME_FAMILY_STATUS`: Tình trạng hôn nhân / cấu trúc gia đình của khách hàng tại thời điểm vay

* 16/ `NAME_HOUSING_TYPE`: Tình trạng nhà ở hiện tại của khách hàng

* 17/ `REGION_POPULATION_RELATIVE`: Mật độ dân số của khu vực nơi khách hàng sinh sống, đã được chuẩn hoá (normalized) về một thang đo tương đối

* 18/ `DAYS_BIRTH`: Tuổi của khách hàng tại thời điểm nộp hồ sơ vay

* 19/ `DAYS_EMPLOYED`: Số ngày khách hàng đã làm công việc hiện tại tính đến thời điểm nộp hồ sơ vay

* 20/ `DAYS_REGISTRATION`: Số ngày tính lùi từ thời điểm nộp hồ sơ vay đến lần gần nhất khách hàng thay đổi đăng ký cư trú (registration/address)

* 21/ `DAYS_ID_PUBLISH`: Số ngày tính lùi từ thời điểm nộp hồ sơ vay đến lần gần nhất khách hàng cập nhật/thay đổi giấy tờ định danh (CMND/CCCD/Hộ chiếu...)

* 22/ `OWN_CAR_AGE`: Tuổi thọ của xe hơi mà khách hàng đang sở hữu

* 23/ `FLAG_MOBIL`: Khách hàng có cung cấp số điện thoại di động hay không

* 24/ `FLAG_EMP_PHONE`: Khách hàng có cung cấp số điện thoại nơi làm việc hay không

* 25/ `FLAG_WORK_PHONE`: Khách hàng có số điện thoại cố định liên quan đến công việc hay không

* 26/ `FLAG_CONT_MOBILE`: Số điện thoại di động của khách hàng có liên lạc được thực tế hay không

* 27/ `FLAG_PHONE`: Khách hàng có cung cấp số điện thoại nhà riêng (home phone) hay không

* 28/ `FLAG_EMAIL`: Khách hàng có cung cấp địa chỉ email hay không

* 29/ `OCCUPATION_TYPE`: Nghề nghiệp của khách hàng

* 30/ `CNT_FAM_MEMBERS`: Số thành viên trong gia đình khách hàng

* 31/ `REGION_RATING_CLIENT`: Biến đánh giá mức độ chất lượng của khu vực nơi sinh sống (1-3)

* 32/ `REGION_RATING_CLIENT_W_CITY`: Giống REGION_RATING_CLIENT nhưng có xét thêm yếu tố thành phố, phản ánh chi tiết hơn theo vị trí địa lý (1–3)

* 33/ `WEEKDAY_APPR_PROCESS_START`: Ngày trong tuần mà khách hàng nộp đơn vay (Thứ mấy?)

* 34/ `HOUR_APPR_PROCESS_START`: Khoảng thời gian (theo giờ) trong ngày mà khách hàng nộp đơn vay

* 35/ `REG_REGION_NOT_LIVE_REGION`: Địa chỉ đăng ký thường trú của khách hàng có khác với địa chỉ liên hệ hay không ở cấp vùng

* 36/ `REG_REGION_NOT_WORK_REGION`: Địa chỉ thường trú của khách hàng có khác với địa chỉ nơi làm việc hay không ở cấp vùng

* 37/ `LIVE_REGION_NOT_WORK_REGION`: Địa chỉ liên hệ của khách hàng có khác với địa chỉ nơi làm việc hay không ở cấp vùng

* 38/ `REG_CITY_NOT_LIVE_CITY`: Địa chỉ thường trú của khách hàng có khác với địa chỉ liên hệ hay không ở cấp thành phố

* 39/ `REG_CITY_NOT_WORK_CITY`: Địa chỉ thường trú của khách hàng có khác với địa chỉ nơi làm việc hay không ở cấp thành phố

* 40/ `LIVE_CITY_NOT_WORK_CITY`: Địa chỉ liên hệ của khách hàng có khác với địa chỉ nơi làm việc hay không ở cấp thành phố

* 41/ `ORGANIZATION_TYPE`: Loại hình tổ chức/nơi làm việc của khách hàng

* 42-44/ `EXT_SOURCE_(1 -> 3)`: Các điểm số đã được chuẩn hóa thu thập từ các nguồn dữ liệu bên ngoài

* 45/ `APARTMENTS_AVG`: Giá trị trung bình (đã chuẩn hóa) về quy mô căn hộ trong tòa nhà nơi khách hàng sinh sống

* 46/ `BASEMENTAREA_AVG`: Giá trị trung bình diện tích tầng hầm của tòa nhà

* 47/ `YEARS_BEGINEXPLUATATION_AVG`: Giá trị trung bình số năm tòa nhà đã được đưa vào sử dụng

* 48/ `YEARS_BUILD_AVG`: Giá trị trung bình năm xây dựng của tòa nhà

* 49/ `COMMONAREA_AVG`: Giá trị trung bình diện tích khu vực sử dụng chung

* 50/ `ELEVATORS_AVG`: Giá trị trung bình số lượng thang máy trong tòa nhà

* 51/ `ENTRANCES_AVG`: Giá trị trung bình số lối vào của tòa nhà

* 52/ `FLOORSMAX_AVG`: Giá trị trung bình số tầng tối đa của tòa nhà

* 53/ `FLOORSMIN_AVG`: Giá trị trung bình số tầng tối thiểu

* 54/ `LANDAREA_AVG`: Giá trị trung bình diện tích khu đất của tòa nhà

* 55/ `LIVINGAPARTMENTS_AVG`: Giá trị trung bình số căn hộ dùng để ở

* 56/ `LIVINGAREA_AVG`: Giá trị trung bình diện tích sinh hoạt

* 57/ `NONLIVINGAPARTMENTS_AVG`: Giá trị trung bình số căn hộ không dùng để ở

* 58/ `NONLIVINGAREA_AVG`: Giá trị trung bình diện tích không phục vụ mục đích ở

* 59/ `APARTMENTS_MODE`: Giá trị phổ biến nhất về quy mô căn hộ trong tòa nhà

* 60/ `BASEMENTAREA_MODE`: Giá trị phổ biến nhất của diện tích tầng hầm

* 61/ `YEARS_BEGINEXPLUATATION_MODE`: Giá trị phổ biến nhất về thời gian đưa vào sử dụng

* 62/ `YEARS_BUILD_MODE`: Giá trị phổ biến nhất về năm xây dựng

* 63/ `COMMONAREA_MODE`: Giá trị phổ biến nhất của diện tích khu vực chung

* 64/ `ELEVATORS_MODE`: Giá trị phổ biến nhất về số lượng thang máy

* 65/ `ENTRANCES_MODE`: Giá trị phổ biến nhất về số lối vào

* 66/ `FLOORSMAX_MODE`: Giá trị phổ biến nhất về số tầng tối đa

* 67/ `FLOORSMIN_MODE`: Giá trị phổ biến nhất về số tầng tối thiểu

* 68/ `LANDAREA_MODE`: Giá trị phổ biến nhất về diện tích khu đất

* 69/ `LIVINGAPARTMENTS_MODE`: Giá trị phổ biến nhất về số căn hộ để ở

* 70/ `LIVINGAREA_MODE`: Giá trị phổ biến nhất về diện tích sinh hoạt

* 71/ `NONLIVINGAPARTMENTS_MODE`: Giá trị phổ biến nhất về số căn hộ không để ở

* 72/ `NONLIVINGAREA_MODE`: Giá trị phổ biến nhất về diện tích không để ở

* 73/ `APARTMENTS_MEDI`: Giá trị trung vị về quy mô căn hộ trong tòa nhà

* 74/ `BASEMENTAREA_MEDI`: Giá trị trung vị diện tích tầng hầm

* 75/ `YEARS_BEGINEXPLUATATION_MEDI`: Giá trị trung vị thời gian đưa vào sử dụng

* 76/ `YEARS_BUILD_MEDI`: Giá trị trung vị năm xây dựng

* 77/ `COMMONAREA_MEDI`: Giá trị trung vị diện tích khu vực chung

* 78/ `ELEVATORS_MEDI`: Giá trị trung vị số lượng thang máy

* 79/ `ENTRANCES_MEDI`: Giá trị trung vị số lối vào

* 80/ `FLOORSMAX_MEDI`: Giá trị trung vị số tầng tối đa

* 81/ `FLOORSMIN_MEDI`: Giá trị trung vị số tầng tối thiểu

* 82/ `LANDAREA_MEDI`: Giá trị trung vị diện tích khu đất

* 83/ `LIVINGAPARTMENTS_MEDI`: Giá trị trung vị số căn hộ để ở

* 84/ `LIVINGAREA_MEDI`: Giá trị trung vị diện tích sinh hoạt

* 85/ `NONLIVINGAPARTMENTS_MEDI`: Giá trị trung vị số căn hộ không để ở

* 86/ `NONLIVINGAREA_MEDI`: Giá trị trung vị diện tích không để ở

* 87/ `FONDKAPREMONT_MODE`: Hình thức/quỹ bảo trì sửa chữa của tòa nhà (giá trị phổ biến nhất)

* 88/ `HOUSETYPE_MODE`: Loại hình nhà ở/tòa nhà (giá trị phổ biến nhất)

* 89/ `TOTALAREA_MODE`: Tổng diện tích tòa nhà (giá trị phổ biến nhất)

* 90/ `WALLSMATERIAL_MODE`: Vật liệu tường xây dựng chủ đạo của tòa nhà

* 91/ `EMERGENCYSTATE_MODE`: Tình trạng khẩn cấp/kỹ thuật của tòa nhà (có xuống cấp nghiêm trọng hay không)

* 92/ `OBS_30_CNT_SOCIAL_CIRCLE`: Số lượng người trong vòng kết nối xã hội của khách hàng có thể quan sát được hành vi nợ quá hạn 30 ngày

* 93/ `DEF_30_CNT_SOCIAL_CIRCLE`: Số lượng người trong vòng kết nối xã hội của khách hàng thực sự đã nợ quá hạn (vỡ nợ) trên 30 ngày

* 94/ `OBS_60_CNT_SOCIAL_CIRCLE`: Số lượng người trong vòng kết nối xã hội của khách hàng có thể quan sát được hành vi nợ quá hạn 60 ngày

* 95/ `DEF_60_CNT_SOCIAL_CIRCLE`: Số lượng người trong vòng kết nối xã hội của khách hàng thực sự đã nợ quá hạn (vỡ nợ) trên 60 ngày

* 96/ `DAYS_LAST_PHONE_CHANGE`: Số ngày kể từ lần gần nhất khách hàng thay đổi thiết bị điện thoại trước khi nộp đơn 

* 97-116/ `FLAG_DOCUMENT_(2 -> 21)`: Khách hàng có cung cấp đủ loại tài liệu 2 -> 21 hay không
  
* 117/ `AMT_REQ_CREDIT_BUREAU_HOUR`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 1 giờ trước khi nộp đơn

* 118/ `AMT_REQ_CREDIT_BUREAU_DAY`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 1 ngày trước khi nộp đơn (không tính 1 giờ trước đó)

* 119/ `AMT_REQ_CREDIT_BUREAU_WEEK`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 1 tuần trước khi nộp đơn (không tính 1 ngày trước đó)

* 120/ `AMT_REQ_CREDIT_BUREAU_MON`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 1 tháng trước khi nộp đơn (không tính 1 tuần trước đó)

* 121/ `AMT_REQ_CREDIT_BUREAU_QRT`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 3 tháng trước khi nộp đơn (không tính 1 tháng trước đó)

* 122/ `AMT_REQ_CREDIT_BUREAU_YEAR`: Số lượng yêu cầu truy vấn thông tin tín dụng của khách hàng trong 1 năm trước khi nộp đơn (không tính 3 tháng trước đó)

In [125]:
# Tạo 1 bản sao của df
df_clean = df.copy()

## 3. Tiền xử lý dữ liệu file application_train.csv

### 3.1. Loại bỏ những thuộc tính có nội dung không rõ ràng hoặc ý nghĩa phân loại kém thực tế

1. Loại bỏ những thuộc tính / nhóm thuộc tính có ý nghĩa phân loại không cao trong bài toán credit scoring

* `SK_ID_CURR`, `OWN_CAR_AGE`,`FLAG_MOBIL`, `FLAG_WORK_PHONE`, `FLAG_CONT_MOBILE`, `FLAG_PHONE`, `FLAG_EMAIL`, `WEEKDAY_APPR_PROCESS_START`, `HOUR_APPR_PROCESS_START`

* Nhóm feature 35 -> 40

In [126]:
cols_to_drop = []
cols_to_drop.extend(['SK_ID_CURR', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START'])
cols_to_drop.extend(df.columns[34:40].tolist())

2. Loại bỏ những thuộc tính / nhóm thuộc tính ít khả năng được thu thập trong thực tế ở Việt Nam

* `AMT_GOODS_PRICE`, `NAME_TYPE_SUITE`, `DAYS_LAST_PHONE_CHANGE`

* Nhóm thuộc tính `EXT_SOURCE`

* Nhóm thuộc tính đặc điểm tòa nhà từ 45 -> 91

* Nhóm thuộc tính từ 92 -> 95

* Nhóm thuộc tính từ 117 -> 122

In [127]:
cols_to_drop.extend(['AMT_GOODS_PRICE', 'NAME_TYPE_SUITE', 'DAYS_LAST_PHONE_CHANGE'])
cols_to_drop.extend(df.columns[41:95].tolist())
cols_to_drop.extend(df.columns[116:122].tolist())

3. Loại bỏ những thuộc tính / nhóm thuộc tính có ý nghĩa đặc trưng kém rõ ràng trong bài toán

* Nhóm thuộc tính `FLAG_DOCUMENT`: từ 97 -> 116

In [128]:
cols_to_drop.extend(df.columns[96:116].tolist())

#### Loại bỏ những feature đã chọn khỏi DataFrame

In [129]:
df_clean = df_clean.drop(columns=cols_to_drop)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 24 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TARGET                       307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   CNT_CHILDREN                 307511 non-null  int64
 6   AMT_INCOME_TOTAL             307511 non-null  float64
 7   AMT_CREDIT                   307511 non-null  float64
 8   AMT_ANNUITY                  307499 non-null  float64
 9   NAME_INCOME_TYPE             307511 non-null  object
 10  NAME_EDUCATION_TYPE          307511 non-null  object
 11  NAME_FAMILY_STATUS           307511 non-null  object
 12  NAME_HOUSING_TYPE            307511 non-null  object
 13  REGION_POPULATION_RELATIVE   307511 non-null  float64
 14  DAYS_BIRTH                   307511 non-null  int64
 15  DAYS_EMPLOYED                307511 non-null  int64
 16  DAYS_REGISTRATION            307511 non-null  float64
 17  DAYS_ID_PUBLISH              307511 non-null  int64
 18  FLAG_EMP_PHONE               307511 non-null  int64
 19  OCCUPATION_TYPE              211120 non-null  object
 20  CNT_FAM_MEMBERS              307509 non-null  float64
 21  REGION_RATING_CLIENT         307511 non-null  int64
 22  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 23  ORGANIZATION_TYPE            307511 non-null  object
dtypes: float64(6), int64(8), object(10)
memory usage: 56.3+ MB

### 3.2. Xử lý missing value

In [ ]:
"""
Với những cột numeric feature có missing value, ta thay các missing value bằng giá trị median của feature tương ứng
"""
num_impute_cols = ['AMT_ANNUITY', 'CNT_FAM_MEMBERS']

for col in num_impute_cols:
    median_val = df_clean[col].median()
    df_clean[col] = df_clean[col].fillna(median_val)

In [ ]:
"""
Thay các missing value ở cột NGHỀ NGHIỆP thành Unknown
"""
df_clean['OCCUPATION_TYPE'] = df_clean['OCCUPATION_TYPE'].fillna('Unknown')
df_clean['OCCUPATION_MISSING_FLAG'] = (df_clean['OCCUPATION_TYPE'] == 'Unknown').astype(int)

In [ ]:
"""
Kiểm tra lại tình trạng missing
"""
print(df_clean.isnull().sum())

TARGET                         0
NAME_CONTRACT_TYPE             0
CODE_GENDER                    0
FLAG_OWN_CAR                   0
FLAG_OWN_REALTY                0
CNT_CHILDREN                   0
AMT_INCOME_TOTAL               0
AMT_CREDIT                     0
AMT_ANNUITY                    0
NAME_INCOME_TYPE               0
NAME_EDUCATION_TYPE            0
NAME_FAMILY_STATUS             0
NAME_HOUSING_TYPE              0
REGION_POPULATION_RELATIVE     0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_REGISTRATION              0
DAYS_ID_PUBLISH                0
FLAG_EMP_PHONE                 0
OCCUPATION_TYPE                0
CNT_FAM_MEMBERS                0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
ORGANIZATION_TYPE              0
OCCUPATION_MISSING_FLAG        0
dtype: int64

### 3.3. Khảo sát giá trị của một số feature có dtype object và feature TARGET

TARGET

In [135]:
print(df_clean['TARGET'].value_counts())

TARGET
0    282686
1     24825
Name: count, dtype: int64

NAME_CONTRACT_TYPE

In [136]:
print(df_clean['NAME_CONTRACT_TYPE'].value_counts())

NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: count, dtype: int64

CODE_GENDER

In [137]:
print(df_clean['CODE_GENDER'].value_counts())

CODE_GENDER
F      202448
M      105059
XNA         4
Name: count, dtype: int64

FLAG_OWN_CAR

In [138]:
print(df_clean['FLAG_OWN_CAR'].value_counts())

FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64

FLAG_OWN_REALTY

In [139]:
print(df_clean['FLAG_OWN_REALTY'].value_counts())

FLAG_OWN_REALTY
Y    213312
N     94199
Name: count, dtype: int64

NAME_INCOME_TYPE

In [141]:
print(df_clean['NAME_INCOME_TYPE'].value_counts())

NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64

NAME_EDUCATION_TYPE

In [142]:
print(df_clean['NAME_EDUCATION_TYPE'].value_counts())

NAME_EDUCATION_TYPE
Secondary / secondary special    218391
Higher education                  74863
Incomplete higher                 10277
Lower secondary                    3816
Academic degree                     164
Name: count, dtype: int64

NAME_FAMILY_STATUS

In [143]:
print(df_clean['NAME_FAMILY_STATUS'].value_counts())

NAME_FAMILY_STATUS
Married                 196432
Single / not married     45444
Civil marriage           29775
Separated                19770
Widow                    16088
Unknown                      2
Name: count, dtype: int64

NAME_HOUSING_TYPE

In [144]:
print(df_clean['NAME_HOUSING_TYPE'].value_counts())

NAME_HOUSING_TYPE
House / apartment      272868
With parents            14840
Municipal apartment     11183
Rented apartment         4881
Office apartment         2617
Co-op apartment          1122
Name: count, dtype: int64

OCCUPATION_TYPE

In [145]:
print(df_clean['OCCUPATION_TYPE'].value_counts())

OCCUPATION_TYPE
Unknown                  96391
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64

ORGANIZATION_TYPE

In [147]:
print(df_clean['ORGANIZATION_TYPE'].value_counts())

ORGANIZATION_TYPE
Business Entity Type 3    67992
XNA                       55374
Self-employed             38412
Other                     16683
Medicine                  11193
Business Entity Type 2    10553
Government                10404
School                     8893
Trade: type 7              7831
Kindergarten               6880
Construction               6721
Business Entity Type 1     5984
Transport: type 4          5398
Trade: type 3              3492
Industry: type 9           3368
Industry: type 3           3278
Security                   3247
Housing                    2958
Industry: type 11          2704
Military                   2634
Bank                       2507
Agriculture                2454
Police                     2341
Transport: type 2          2204
Postal                     2157
Security Ministries        1974
Trade: type 2              1900
Restaurant                 1811
Services                   1575
University                 1327
Industry: type 7           1307
Transport: type 3          1187
Industry: type 1           1039
Hotel                       966
Electricity                 950
Industry: type 4            877
Trade: type 6               631
Industry: type 5            599
Insurance                   597
Telecom                     577
Emergency                   560
Industry: type 2            458
Advertising                 429
Realtor                     396
Culture                     379
Industry: type 12           369
Trade: type 1               348
Mobile                      317
Legal Services              305
Cleaning                    260
Transport: type 1           201
Industry: type 6            112
Industry: type 10           109
Religion                     85
Industry: type 13            67
Trade: type 4                64
Trade: type 5                49
Industry: type 8             24
Name: count, dtype: int64

In [148]:
# Ghi lại vào file csv mới
df_clean.to_csv('clean_application_train.csv')