In [3]:
import pandas as pd
import matplotlib.pyplot as plt

## I. Đọc file csv mới đã clean

In [4]:
df = pd.read_csv('clean_application_train.csv')

In [6]:
df = df.drop(columns=['Unnamed: 0'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 25 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   TARGET                       307511 non-null  int64
 1   NAME_CONTRACT_TYPE           307511 non-null  object
 2   CODE_GENDER                  307511 non-null  object
 3   FLAG_OWN_CAR                 307511 non-null  object
 4   FLAG_OWN_REALTY              307511 non-null  object
 5   CNT_CHILDREN                 307511 non-null  int64
 6   AMT_INCOME_TOTAL             307511 non-null  float64
 7   AMT_CREDIT                   307511 non-null  float64
 8   AMT_ANNUITY                  307511 non-null  float64
 9   NAME_INCOME_TYPE             307511 non-null  object
 10  NAME_EDUCATION_TYPE          307511 non-null  object
 11  NAME_FAMILY_STATUS           307511 non-null  object
 12  NAME_HOUSING_TYPE            307511 non-null  object
 13  REGION_POPULATION_RELATIVE   307511 non-null  float64
 14  DAYS_BIRTH                   307511 non-null  int64
 15  DAYS_EMPLOYED                307511 non-null  int64
 16  DAYS_REGISTRATION            307511 non-null  float64
 17  DAYS_ID_PUBLISH              307511 non-null  int64
 18  FLAG_EMP_PHONE               307511 non-null  int64
 19  OCCUPATION_TYPE              307511 non-null  object
 20  CNT_FAM_MEMBERS              307511 non-null  float64
 21  REGION_RATING_CLIENT         307511 non-null  int64
 22  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 23  ORGANIZATION_TYPE            307511 non-null  object
 24  OCCUPATION_MISSING_FLAG      307511 non-null  int64
dtypes: float64(6), int64(9), object(10)
memory usage: 58.7+ MB

## II. Data Visualization